@using Microsoft.AspNetCore.Identity

@model Scoreboards.Models.Users.UserProfileModel

@inject UserManager<Scoreboards.Data.Models.ApplicationUser> _userManager

@{ 
    string profileDeleted = "Profile Deleted";
}

<script type="text/javascript">
    function openTab(evt, gameName) {
        // Declare all variables
        var i, tabcontent, tablinks;
        // debugger;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        // Show the current tab, and add an "active" class to the button that opened the tab
        document.getElementById(gameName).style.display = "block";
        evt.currentTarget.className += " active";
    }
</script>

<div class="row page-content user-page row-margin-override">
    <div class="profile-margin">
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
            <div class="profile-picture-border">
                <div class="profile-picture">
                    <img class="profile-image" src="@Model.User.ProfileImageUrl" />
                </div>
            </div>
            <div class="profile-info text-truncate">
                <label>
                    <span class="profile-icon-container"><i class="fa fa-user profile-information-icons"></i></span>
                    &nbsp;
                    @Model.User.UserName
                    @if (await _userManager.IsInRoleAsync(Model.User, "Admin"))
                    {
                    <span title="Admin">
                        &nbsp;
                        <i class="fa fa-key admin-key"></i>
                    </span>
                    }
                </label><br />
                <label>
                    <span class="profile-icon-container"><i class="fa fa-envelope profile-information-icons"></i></span>
                    &nbsp;
                    @Model.User.Email
                </label><br />
                <label class="label-area">
                    <span class="profile-icon-container"><i class="fa fa-comment profile-information-icons"></i></span>
                    &nbsp;
                    @Model.User.Motto
                </label><br />
            </div>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-5 col-lg-5">
            <div class="tab">
                <button class="tablinks active text-truncate" onclick="openTab(event, 'Overall')">Overall</button>
                @foreach (var gameName in Model.GameStatistcs.Keys)
                {
                    if (gameName != "Overall")
                    {
                        <button class="tablinks text-truncate" onclick="openTab(event, '@gameName')">@gameName</button>
                    }
                }
            </div>

            <div id="Overall" class="tabcontent text-truncate" style="display:block">
                <h3>Overall</h3>
                <hr />
                <div>
                    <div class="profile-stats-container profile-stats-name">
                        <span class="profile-icon-container"><i class="fa fa-trophy profile-information-icons"></i></span>
                        &nbsp;
                        <span class="profile-statistics-text">Wins</span>
                    </div>
                    <div class="profile-stats-container">
                        <span> &nbsp; @Model.GameStatistcs["Overall"].Wins</span>
                    </div>
                </div>
                <div>
                    <div class="profile-stats-container profile-stats-name">
                        <span class="profile-icon-container"><i class="fa fa-handshake-o profile-information-icons"></i></span>
                        &nbsp;
                        <span class="profile-statistics-text">Draws</span>
                    </div>
                    <div class="profile-stats-container">
                        <span> &nbsp; @Model.GameStatistcs["Overall"].Draws</span>
                    </div>
                </div>
                <div>
                    <div class="profile-stats-container profile-stats-name">
                        <span class="profile-icon-container"><i class="fa fa-flag profile-information-icons"></i></span>
                        &nbsp;
                        <span class="profile-statistics-text">Losses</span>
                    </div>
                    <div class="profile-stats-container">
                        <span> &nbsp; @Model.GameStatistcs["Overall"].Loses</span>
                    </div>
                </div>
                <div>
                    <div class="profile-stats-container profile-stats-name" style="padding-bottom: 0px !important;">
                        <span class="profile-icon-container"><i class="fa fa-percent profile-information-icons"></i></span>
                    &nbsp;
                    <span class="profile-statistics-text">Win Ratio</span>
                    </div>
                    <div class="profile-stats-container style="padding-bottom: 0px !important;"">
                        <span> &nbsp; @Model.GameStatistcs["Overall"].Ratio %</span>
                    </div>
                </div>
                @if (Model.GameStatistcs["Overall"].MonthlyWins.Count() != 0)
                {
                    <hr />
                    <label class="label-area">Past Awards</label><br />
                    @foreach (var award in Model.GameStatistcs["Overall"].MonthlyWins)
                    {
                        <label class="label-area">
                            <i class="fa fa-trophy gold"></i> @award.Title</label><br />
                    }
                }
            </div>

            <!-- Tab content -->
            @foreach (var gameName in Model.GameStatistcs.Keys)
            {
                if (gameName != "Overall")
                {
            <div id="@gameName" class="tabcontent text-truncate">
                <h3>@gameName</h3>
                <hr />
                <div>
                    <div class="profile-stats-container profile-stats-name">
                        <span class="profile-icon-container"><i class="fa fa-trophy profile-information-icons"></i></span>
                        &nbsp;
                        <span class="profile-statistics-text">Wins</span>
                    </div>
                    <div class="profile-stats-container">
                        <span> &nbsp; @Model.GameStatistcs[gameName].Wins</span>
                    </div>
                </div>
                <div>
                    <div class="profile-stats-container profile-stats-name">
                        <span class="profile-icon-container"><i class="fa fa-handshake-o profile-information-icons"></i></span>
                        &nbsp;
                        <span class="profile-statistics-text">Draws</span>
                    </div>
                    <div class="profile-stats-container">
                        <span> &nbsp; @Model.GameStatistcs[gameName].Draws</span>
                    </div>
                </div>
                <div>
                    <div class="profile-stats-container profile-stats-name">
                        <span class="profile-icon-container"><i class="fa fa-flag profile-information-icons"></i></span>
                        &nbsp;
                        <span class="profile-statistics-text">Losses</span>
                    </div>
                    <div class="profile-stats-container">
                        <span> &nbsp; @Model.GameStatistcs[gameName].Loses</span>
                    </div>
                </div>
                <div>
                    <div class="profile-stats-container profile-stats-name" style="padding-bottom: 0px !important;">
                        <span class="profile-icon-container"><i class="fa fa-percent profile-information-icons"></i></span>
                        &nbsp;
                        <span class="profile-statistics-text">Win Ratio</span>
                    </div>
                    <div class="profile-stats-container" style="padding-bottom: 0px !important;">
                        <span> &nbsp; @Model.GameStatistcs[gameName].Ratio %</span>
                    </div>
                </div>
                @if (Model.GameStatistcs[gameName].MonthlyWins.Count() != 0)
                {
                    <hr />
                    <label class="label-area">Past Awards</label><br />
                    @foreach (var award in Model.GameStatistcs[gameName].MonthlyWins)
                    {
                        <label class="label-area">
                            <i class="fa fa-trophy gold" style="font-size: 1.5em;"></i> @award.Title
                        </label><br />
                    }
                }
            </div>
                }
            }
        </div>
        <div class="float-right1 game-detail-table-div col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <table class="table">
                <thead class="game-detail-thead">
                    <tr>
                        <th style="text-align:center;background-color: #000;">
                            <label>Match History</label>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.UsersGames.Any())
                    {
                        @if (Model.UsersGames != null)
                        {
                            foreach (var match in Model.UsersGames)
                            {
                                <tr>
                                    <td class="match-history-table-td">
                                        <div class="match-history-table-outer-div">
                                            <div>
                                                <span class="match-history-game-name">
                                                    @match.GameName
                                                </span>
                                                @if (User.IsInRole("Admin") && (match.GamePlayedOn.Month == DateTime.Now.Month))
                                                {   
                                                    <span class="edit-delete-game">
                                                        <a asp-controller="UserGame" asp-action="EditUserGame" asp-route-userGameId="@match.Id">
                                                            <i class="fa fa-edit"></i>
                                                        </a>
                                                        <a asp-controller="UserGame" asp-action="DeleteUserGame" asp-route-userGameId="@match.Id">
                                                            <i class="fa fa-trash-o"></i>
                                                        </a>
                                                    </span>
                                                }
                                            </div>                                            
                                            <div class="match-history-table-middle-div">
                                                <div class="match-history-table-inner-edge-div">
                                                    @if (match.User_01.IsProfileDeleted)
                                                    {
                                                        @profileDeleted<br />
                                                        @match.User_01_Team
                                                    }
                                                    else
                                                    {
                                                        @match.User_01.UserName<br />
                                                        @match.User_01_Team
                                                    }
                                                </div>
                                                <div class="match-history-table-inner-center-div">
                                                    vs
                                                </div>
                                                <div class="match-history-table-inner-edge-div">
                                                    @if (match.User_02.IsProfileDeleted)
                                                    {
                                                        @profileDeleted<br />
                                                        @match.User_02_Team
                                                    }
                                                    else
                                                    {
                                                        @match.User_02.UserName<br />
                                                        @match.User_02_Team
                                                    }
                                                </div>
                                            </div>
                                            <div>
                                                <span>
                                                    @match.GameScore
                                                </span>
                                                @if (match.GamePlayedId == 1 && match.NeedToApologise
                                                 && (_userManager.GetUserId(User) == match.User_01.Id || _userManager.GetUserId(User) == match.User_02.Id))
                                                {
                                                    <div>
                                                        @if (match.Apologised)
                                                        {
                                                            if (match.Winner == _userManager.GetUserId(User))
                                                            {
                                                                <i class="fa fa-heart" style="color:red;" title="You have forgiven your opponent for their embarrassing defeat"></i>
                                                            }
                                                            else
                                                            {
                                                                <i class="fa fa-heart" style="color:red;" title="You have apologised and your opponent has forgiven you for your poor performance"></i>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            if (match.Winner == _userManager.GetUserId(User))
                                                            {
                                                                <a asp-controller="Users" asp-action="ForgiveUser" asp-route-userGameId="@match.Id" asp-route-userId="@_userManager.GetUserId(User)">
                                                                    <i class="fa fa-exclamation-triangle" style="color:red;" title="You have crushed your opponent, Click here to forgive them"></i>
                                                                </a>
                                                            }
                                                            else
                                                            {
                                                                <i class="fa fa-exclamation-triangle" style="color:red;" title="Your opponent has handed you an embarassing defeat, you need to apologise on facebook"></i>
                                                            }
                                                        }
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    }
                    else
                    {
                        <tr>
                            <td>
                                <div style="text-align:center;">
                                    No games played!
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
