@model Scoreboards.Models.Home.HomeIndexModel

@{
    string profileDeleted = "Profile Deleted";
    ViewData["Title"] = "The Instillery Scoreboards";
    int i = 1;
}

<div class="page-content home-page">
    <div class="row display-next-to-each-other">
        <div class="float-left1 col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <h3>Scoreboard</h3>
        </div>
        <div style="color:#000 !important;" class="float-right1 col-xs-12 col-sm-2 col-md-2 col-lg-2">
            @Html.DropDownListFor(listItem => listItem.monthSelected,
                            new SelectList(
                                Model.DropDownSeasons,
                            "Value",
                            "Text",
                            Model.monthSelected == "0"
                            ? Model.DropDownSeasons[0].Selected
                            : Model.DropDownSeasons[ Model.DropDownSeasons.FindIndex(item => item.Value == Model.monthSelected)].Selected),
                            "Overall",
                            new
                            {
                                @onchange = "document.location.href = '/Home/Index?month=' + this.options[this.selectedIndex].value ;"
                            })
        </div>
        <div style="color:#000 !important;" class="float-right1 col-xs-12 col-sm-2 col-md-2 col-lg-2">
            @Html.DropDownListFor(listItem => listItem.itemSelected,
                            new SelectList(
                                Model.DropDownData,
                            "Value",
                            "Text",
                            Model.itemSelected == "0"
                            ? Model.DropDownData[0].Selected
                            : Model.DropDownData[ Model.DropDownData.FindIndex(item => item.Value == Model.itemSelected)].Selected),
                            "Overall",
                            new
                            {
                                @onchange = "document.location.href = '/Home/Index?gameId=' + this.options[this.selectedIndex].value ;"
                            })
        </div>
    </div>
    <div class="row display-next-to-each-other2">
        <div class="leaderboard-table col-xs-12 col-sm-8 col-md-9 col-lg-9">
            <table class="table float-left1 ">
                <thead>
                    <tr>
                        <th><label>Rank</label></th>
                        <th class="toggle-table-column"></th>
                        <th><label>Name</label></th>
                        <th class="toggle-table-column2"><label>Wins/Draws/Losses</label></th>
                        <th><label>Win Ratio</label></th>
                        <th><label>Points</label></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.UsersData.Any())
                    {
                        @foreach (var user in Model.UsersData)
                        {
                    <tr onclick="location.href = '@(Url.Action("Profile", "Users", new { userId = user.UserId }))'">
                        <td>
                            <div style="height:40px; text-align:center; display:table-cell; vertical-align:middle;">
                                <label>@i  </label>
                                @if (user.MonthlyWins.Count() != 0)
                                {
                                    <img src="~/images/crownIcon.png" style="width:30px; height:30px; margin-bottom:7px;" />
                                }
                            </div>
                        </td>
                        <td class="toggle-table-column">
                            <div>
                                <img style="width:40px; height:40px;" src="@user.ProfileImageUrl">
                            </div>
                        </td>
                        <td>
                            <div style="white-space:nowrap; height:40px; text-align:center; display:table-cell; vertical-align:middle;">
                                @user.UserName
                            </div>
                        </td>
                        <td class="toggle-table-column2">
                            <div style="white-space:nowrap; height:40px; text-align:center; display:table-cell; vertical-align:middle;">
                                @user.Wins W - @user.Draws D -  @user.Loses L 
                            </div>
                        </td>
                        <td>
                            <div style="white-space:nowrap; height:40px; text-align:center; display:table-cell; vertical-align:middle;">
                                @user.Ratio %
                            </div>
                        </td>
                        <td>
                            <div style="white-space:nowrap; height:40px; text-align:center; display:table-cell; vertical-align:middle;">
                                @user.Points
                            </div>
                        </td>
                    </tr>
                            i++;
                        }
                    }
                    else
                    {
                        <tr>
                            <td>
                                <div>
                                    No games played!
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
            <table class="table">
                <thead>
                    <tr>
                        <th style="text-align:center;">
                            <label>Match History</label>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.LatestGames != null)
                    {
                        foreach (var match in Model.LatestGames)
                        {
                            <tr>
                                <td class="match-history-table-td">
                                    
                                    <div class="match-history-table-outer-div">
                                        <div>
                                            <span class="match-history-game-name">
                                                @match.GameName
                                            </span>
                                            @if (User.IsInRole("Admin"))
                                            {
                                                <span class="edit-delete-game">
                                                    <a asp-controller="UserGame" asp-action="EditUserGame" asp-route-userGameId="@match.Id">
                                                        <i class="fa fa-edit"></i>
                                                    </a>
                                                    <a asp-controller="UserGame" asp-action="DeleteUserGame" asp-route-userGameId="@match.Id">
                                                        <i class="fa fa-trash-o"></i>
                                                    </a>
                                                </span>
                                            }
                                        </div>
                                        <div class="match-history-table-middle-div">
                                            <div class="match-history-table-inner-edge-div">
                                                @if (match.User_01.IsProfileDeleted)
                                                {
                                                    @profileDeleted<br />
                                                    @match.User_01_Team
                                                }
                                                else
                                                {
                                                    @match.User_01.UserName<br />
                                                    @match.User_01_Team
                                                }
                                            </div>
                                            <div class="match-history-table-inner-center-div">
                                                vs
                                            </div>
                                            <div class="match-history-table-inner-edge-div">
                                                @if (match.User_02.IsProfileDeleted)
                                                {
                                                    @profileDeleted<br />
                                                    @match.User_02_Team
                                                }
                                                else
                                                {
                                                    @match.User_02.UserName<br />
                                                    @match.User_02_Team
                                                }
                                            </div>
                                        </div>
                                        <div style="flex-direction:row;">
                                            @match.GameScore
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
