@using Microsoft.AspNetCore.Identity


@model Scoreboards.Models.Home.HomeIndexModel


@inject UserManager<Scoreboards.Data.Models.ApplicationUser> _userManager

@{
    string profileDeleted = "Profile Deleted";
    ViewData["Title"] = "The Instillery Scoreboards";
    int i = 1;
}

<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2&appId=394194558003531&autoLogAppEvents=1';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

<div class="page-content home-page">
    <div class="row display-next-to-each-other">
        <div class="float-left1 col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <h3 style="padding-left:15px;">Scoreboards</h3>
        </div>
        <div style="color:#000 !important; padding-left:2.5% !important;" class="float-right1 col-xs-12 col-sm-2 col-md-2 col-lg-2">
            @Html.DropDownListFor(listItem => listItem.monthSelected,
                            new SelectList(
                                Model.DropDownSeasons,
                            "Value",
                            "Text",
                            Model.monthSelected == "0"
                            ? Model.DropDownSeasons[0].Selected
                            : Model.DropDownSeasons[ Model.DropDownSeasons.FindIndex(item => item.Value == Model.monthSelected)].Selected),
                            "All Time",
                            new
                            {
                                style = "width:95%; padding-left:2.5%; margin-top:5px; margin-bottom:5px;",
                                @id = "gameDropBox",
                                @onchange = "document.location.href = '/Home/Index?gameId=" + Model.itemSelected.ToString() + "&month=' + this.options[this.selectedIndex].value ;"
            })
        </div>
        <div style="color:#000 !important; padding-left:2.5% !important;" class="float-right1 col-xs-12 col-sm-2 col-md-2 col-lg-2">
            @Html.DropDownListFor(listItem => listItem.itemSelected,
                            new SelectList(
                                Model.DropDownData,
                            "Value",
                            "Text",
                            Model.itemSelected == "0"
                            ? Model.DropDownData[0].Selected
                            : Model.DropDownData[ Model.DropDownData.FindIndex(item => item.Value == Model.itemSelected)].Selected),
                            "All games",
                            new
                            {
                                style = "width:95%; padding-left:2.5%; margin-top:5px; margin-bottom:5px; ",
                                @id = "monthDropBox",
                                @onchange = "document.location.href = '/Home/Index?gameId=' + this.options[this.selectedIndex].value " + " + '&month=" + Model.monthSelected + "' ;"
                            })
        </div>
    </div>
    <div class="row display-next-to-each-other2">
        <div class="leaderboard-table col-xs-12 col-sm-8 col-md-9 col-lg-9">
            <table class="table float-left1 ">
                <thead>
                    <tr>
                        <th><label>Rank</label></th>
                        <th class="toggle-table-column"></th>
                        <th><label>Name</label></th>
                        <th class="toggle-table-column2"><label>Wins/Draws/Losses</label></th>
                        <th><label>Win Ratio</label></th>
                        <th><label>Points</label></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.UsersData.Any())
                    {
                        @foreach (var user in Model.UsersData)
                        {
                            <tr onclick="location.href = '@(Url.Action("Profile", "Users", new { userId = user.UserId }))'">
                                <td>
                                    <div class="home-leader-table-cell">
                                        <label class="leader-table-rank-number">@i</label>
                                        @switch (i)
                                        {
                                            case 1:
                                                <span class="badge user-trophy gold" title="Current All Time Winner">
                                                    <i class="fa fa-trophy"></i>
                                                </span>
                                                break;
                                            case 2:
                                                <span class="badge user-trophy silver" title="Current All Time Winner">
                                                    <i class="fa fa-trophy"></i>
                                                </span>
                                                break;
                                            case 3:
                                                <span class="badge user-trophy bronz" title="Current All Time Winner">
                                                    <i class="fa fa-trophy"></i>
                                                </span>
                                                break;
                                            default:
                                                break;
                                        }

                                        @if (user.MonthlyWins.Count() != 0)
                                        {

                                            @switch (user.GameId)
                                            {
                                                case 0:
                                                    {
                                                        <span class="badge user-trophy gold" title="Current All Time Winner">
                                                            <i class="fa fa-trophy"></i>
                                                        </span>
                                                        break;
                                                    }
                                                case 1:
                                                    <span class="badge user-trophy gold" title="FIFA17 Monthly Winner">
                                                        <i class="fa fa-soccer-ball-o"></i>
                                                    </span>
                                                    break;
                                                case 2:
                                                    <span class="badge user-trophy gold" title="NBA2K17 Monthly Winner">
                                                        <i class="fa fa-dribbble"></i>
                                                    </span>
                                                    break;
                                                case 3:
                                                    <span class="badge user-trophy gold" title="POOL Monthly Winner">
                                                        <i class="fa fa-bullseye"></i>
                                                    </span>
                                                    break;
                                                default:
                                                    break;
                                            }

                                        }
                                    </div>
                                </td>
                                <td class="toggle-table-column">
                                    <div>
                                        <img class="user-list-avatar" src="@user.ProfileImageUrl">
                                    </div>
                                </td>
                                <td>
                                    <div class="home-leader-table-cell">
                                        @user.UserName
                                    </div>
                                </td>
                                <td class="toggle-table-column2">
                                    <div class="home-leader-table-cell">
                                        @user.Wins W - @user.Draws D -  @user.Loses L
                                    </div>
                                </td>
                                <td>
                                    <div class="home-leader-table-cell">
                                        @user.Ratio %
                                    </div>
                                </td>
                                <td>
                                    <div class="home-leader-table-cell">
                                        @user.Points
                                    </div>
                                </td>
                            </tr>
                            i++;
                        }
                    }
                    else
                    {
                        <tr>
                            <td>
                                <div>
                                    No games played!
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
            <table class="table">
                <thead>
                    <tr>
                        <th style="text-align:center;">
                            <label>Match History</label>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.LatestGames != null)
                    {
                        foreach (var match in Model.LatestGames)
                        {
                            <tr>
                                <td class="match-history-table-td">

                                    <div class="match-history-table-outer-div">
                                        <div>
                                            <span class="match-history-game-name">
                                                @match.GameName
                                            </span>
                                            @*@if (_userManager.GetUserId(User) == match.User_01_Id || _userManager.GetUserId(User) == match.User_02_Id)
                                                    {
                                                        var opponent = match.User_01.UserName;
                                                        var player = match.User_02.UserName;
                                                        if (_userManager.GetUserId(User) == match.User_01_Id)
                                                        {
                                                            opponent = match.User_02.UserName;
                                                            player = match.User_01.UserName;
                                                        }
                                                        var message = "@player Beat @opponent @match.GameScore in a game of @match.GameName"

                                                        < meta property="og:url" content="https://instilleryscoreboard.azurewebsites.net/" />


                                                                                <meta property="og:type" content="website" />


                                                                                <meta property="og:title" content="The Instillery Scoreboards" />
                                                              if (match.Winner == _userManager.GetUserId(User))
                                                        {
                                                    <meta property="og:description" content="@player Beat @opponent @match.GameScore in a game of @match.GameName" />
                                                }
                                                        else
                                                        {
                                                    <meta property="og:description" content="@player lost to @opponent @match.GameScore in a game of @match.GameName" />
                                                        }
                                                                                                           < meta property = "og:description" content =@message />



                                                   < meta property="og:image" content="//dev.theinstillery.com/wp-content/uploads/2018/02/The-Instillery-Logo-LoRes.png" />

                                                <div class="fb-share-button"
                                                     data-href="https://instilleryscoreboard.azurewebsites.net/"
                                                     data-layout="button_count"
                                                     data-size="small"
                                                     data-mobile-iframe="true">
                                                    <a target="_blank"
                                                       href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Finstilleryscoreboard.azurewebsites.net%2F&amp;src=sdkpreparse"
                                                       class="fb-xfbml-parse-ignore">
                                                        Share
                                                    </a>
                                                </div>
                                            }*@
                                            @if (User.IsInRole("Admin") && (match.GamePlayedOn.Month == DateTime.Now.Month))
                                            {
                                                <span class="edit-delete-game">
                                                    <a asp-controller="UserGame" asp-action="EditUserGame" asp-route-userGameId="@match.Id">
                                                        <i class="fa fa-edit"></i>
                                                    </a>
                                                    <a asp-controller="UserGame" asp-action="DeleteUserGame" asp-route-userGameId="@match.Id">
                                                        <i class="fa fa-trash-o"></i>
                                                    </a>
                                                </span>
                                            }
                                        </div>
                                        <div class="match-history-table-middle-div">
                                            <div class="match-history-table-inner-edge-div">
                                               @if (match.User_01.IsProfileDeleted)
                                                {
                                                    @profileDeleted<br />
                                                    @match.User_01_Team
                                                }
                                                else
                                                {
                                                    @match.User_01.UserName<br />
                                                    @match.User_01_Team
                                                }
                                            </div>
                                            <div class="match-history-table-inner-center-div">
                                                vs
                                            </div>
                                            <div class="match-history-table-inner-edge-div">
                                               @if (match.User_02.IsProfileDeleted)
                                                {
                                                   @profileDeleted<br />
                                                   @match.User_02_Team
                                                }
                                                else
                                                {
                                                    @match.User_02.UserName<br />
                                                    @match.User_02_Team
                                                }
                                            </div>
                                        </div>
                                        <div style="flex-direction:row;">
                                            @match.GameScore
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
