@model Scoreboards.Models.GamePage.GameDetailModel
@{
    ViewData["Title"] = "GameDetail";
}

<div class="page-content home-page">
    <div class="row display-next-to-each-other">
        <h2>@Model.GameDetail.GameName</h2>
        <div class="float-left1 col-xs-12 col-sm-4 col-md-4 col-lg-4">
            @{string imgSourceString = string.Concat("~", Model.GameDetail.GameLogo);}
            <img class="card-picture" src="@Url.Content(imgSourceString)" alt="~/images/defaultImage.png" /><br /><br />
            <label>Description</label>
            <label>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</label>
        </div>
        <div class="float-right1 game-detail-table-div col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <table class="table float-mid1">
                <thead class="game-detail-thead">
                    <tr>
                        <th style="text-align:center;background-color: #000;">
                            <label>Match History</label>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.GameSpecificMatchHistory != null)
                    {
                        foreach (var match in Model.GameSpecificMatchHistory)
                        {
                            <tr>
                                <td style="text-align:center;">
                                    <div>
                                        @match.GameName
                                        <div style="flex-direction:row">
                                            @match.User_01_Team vs @match.User_02_Team
                                        </div>
                                        <div style="flex-direction:row">
                                            @match.GameScore
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
