@model Scoreboards.Models.GamePage.GameIndexModel

@{
    ViewData["Title"] = "Game List Page";
}

<div class="page-content game-page">
    <div style="
    align-self:center;
    align-items:center; 
    align-content:center;" align="center" class="row display-next-to-each-other">
        <div class="float-left1">
            <h3>Games</h3>
        </div>
        <div>
            <div class="game-cards-container">
                @foreach (var game in Model.gameList)
                {
                    <div class="game-card" onclick="location.href = '@(Url.Action("GameDetail", "Game", new { gameId = game.Id }))'">
                        @{string imgSourceString = string.Concat("~", game.GameLogo);}
                        <img class="card-picture" src="@Url.Content(imgSourceString)" alt="~/images/defaultImage.png" />
                        <span>
                            <label class="game-card-detail">@game.GameName</label>
                            <a asp-controller="Game" asp-action="EditGame" asp-route-gameId="@game.Id">
                                <i class="fa fa-edit"></i>
                            </a>
                        </span>
                    </div>
                }

                @if (User.IsInRole("Admin"))
                {
                    <div class="game-card" onclick="location.href = '@(Url.Action("AddGame", "Game"))'">
                        <img class="card-picture" src="~/images/AddGamePlus.png" alt="~/images/defaultImage.png" />
                        <label class="game-card-detail">Add New Game</label>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
